<!DOCTYPE html>
<html>
  <head>
    <title>Persona SSO</title>
    {% if transparent %}
    <link rel="stylesheet" href="/css/include-inline.css">
    {% else %}
    <link rel="stylesheet" href="/css/include.css">
    {% endif %}
  </head>
  <body>
    {% if not transparent %}
      <div id="webmaker-login" class="persona-button">
        <span class="text">{{ gettext("Sign in") }}</span><span class="tip"></span>
      </div>
    {% else %}
      <span id="webmaker-login"></span>
    {% endif %}
    <span id="webmaker-logout">{% if not transparent %}{{ gettext("Sign out") }}{% endif %}</span>

    <script src="{{ personaHostname }}/include.js" async></script>
    <script src="/views/sso/include-proxy.js" async></script>
  </body>
</html>
